.navbar{
    /* border-bottom: 5px solid rgba(4, 4, 221, 0.829); */
    box-shadow: 0 2px 7px rgba(0, 94, 255);
}
header{
   min-height: 100vh;
   background: url(../image/cam.jpg);
   background-position: center;
   background-size: cover;
} 
.header-text{
   text-align: center;
   position: absolute;
   top: 10%; left: 50%;
   transform: translate(-50% , -50%);
}
#about h5 {
   letter-spacing: 5px;
}
#about img{
   min-height: 100%;
}